h1 {
	color: #E65EFF;
	font-family: sans-serif;
	font-style: Impact;
	font-size:200%;
	text-align: left;

}
body {
	color: #FF564C;
	background-color: black;
	text-align: center;
}
#slogan {
	font-style: italic;
	text-transform: uppercase;
}
ul {
	text-align: center;
	list-style-type: none;
	border: 3px solid #AFFFAB;
}

